<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>    
    <link href="~/Content/superhero_bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CustomStyles/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container body-content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#"><h2>Tab 1</h2></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#"><h2>Tab 2</h2></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#"><h2>Tab 3</h2></a>
            </li>
        </ul>

        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/wwwroot/dist.js"></script>
    @RenderSection("scripts", false)
</body>
</html>